.container {
	overflow: hidden;
	max-width: 12em;
}

.expand {
	white-space: pre;
	height: 1rem;
}

.expandOpen {

}

.expandClosed {
	width: 1rem;
}

.expandClosed .browser {
	display: none;
}

.files {
	list-style: none;
	margin: 0;
	padding: 0;
}

.file {
	cursor: pointer;
}

.file:hover,
.file:active,
.file:focus {
	background-color: gray;
}

.fileSelected {
	background: red;
}

.fileEditInput {
	font: inherit;
	border: 0;
}